
#logo {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
  }
  img.thumbnail {
    image-rendering: optimizeQuality;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  p {
    color: white;
    text-align: center;
    font-family: serif;
    font-weight: bold;
  }
  .Top_bar {
    display: inline-block;
    margin-right: 10px;
    background-color: red;
    border: none;
    height: 40px;
    width: 130px;
    font-weight: bold;
    transition: 0.5s;
    color: white;
  }
  .Top_bar:hover {
    background-color: rgba(184, 33, 33, 0.6);
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 125px;
  }
  header {
    background-color: red;
    align-items: center;
  }
  body {
    background-color: rgb(8, 8, 8);
  }
  .donate {
    background-color: gold;
    border: none;
    height: 30px;
    width: 125px;
    border-radius: 30px;
    transition-duration: 0.3s;
  }
  .donate:hover {
    background-color: rgba(255, 162, 23, 0.938);
    cursor: grab;
    box-shadow: 4px 5px 5px rgba(41, 40, 40, 0.384);
  }
  .donate:active {
    cursor: grabbing;
    background-color: rgb(255, 185, 32);
  }
  div {
    margin-top: 1%;
    width: 160px;
    height: 155px;
    background-color: rgba(34, 33, 33, 0.3);
    border-radius: 3px;
    display: block;
  }
  h2 {
    font-family: sans-serif;
  }
.news [
background-color: lime;
border: none;
height: 30px;
border-radius: 50%;
}
