  .To-Mainpage {
    background-color: rgb(255, 49, 49);
    color: white;
    border: none;
    height: 30px;
    width: 75px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .To-Mainpage:hover {
    background-color: rgb(121, 0, 0);
  }
  .subscribe {
    background-color: rgb(255, 49, 49);
    color: white;
    border: none;
    height: 25px;
    width: 75px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: opacity 0.2s;
    transition: box-shadow 0.5s;
  }
  .subscribe:hover {
    opacity: 0.6;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  .subscribe:active {
    opacity: 0.9;
  }
.description {
  width: 300px;
  background-color: gray;
  border-radius: 10px;
  padding-left: 10px;
  font-family: sans-serif;
}
